.car-card {
  &__container {
    background-color: $background-secondary;
    border-radius: 10px;

    @include phone {
      padding: 12px;
      height: 334px;
    }
    @include pad {
      padding: 24px;
      height: 388px;
    }
  }

  &__title {
    font-family: $ff-jakarta;
    font-weight: $fw-700;
    font-size: 20px;
  }
  &__like {
    width: 20px;
    height: 20px;
  }
  &__subtitle {
    font-family: $ff-jakarta;
    font-weight: $fw-500;
    font-size: 14px;
    line-height: 18px;
    color: $text-color-secondary;
  }
  &__specification {
    margin-top: 60px;
    &-spec {
      margin-top: 38px;
    }
  }

  &__rent {
    margin-top: 40px;
  }
  &__cost {
    font-family: $ff-jakarta;
    font-weight: $fw-700;
    color: $color-black;
    margin-bottom: 0;

    @include phone {
      font-size: 12px;
      line-height: 24px;
    }

    @include pad {
      font-size: 20px;
      line-height: 32px;
    }
    &-days {
      font-family: $ff-jakarta;
      font-weight: $fw-400;
      font-size: 14px;
      line-height: 18px;
      color: $text-color-secondary;
    }
  }
  &__full-price {
    font-family: $ff-jakarta;
    font-weight: $fw-700;
    font-size: 14px;
    line-height: 18px;
    color: $text-color-secondary;
    text-decoration: line-through;
    margin-bottom: 0;
  }

  &__button {
    width: 116px;
    height: 44px;

    @include phone {
      width: 100px;
    }
  }
  &__img {
    @include phone {
      padding-bottom: 34px;
    }
  }
  &__img-spec {
    height: 118px;
    @include pad {
      margin-bottom: 38px;
    }
  }
}

