.footer {
  width: 100vw;
  background-color: $background-secondary;

  &__inner-container {
    @include phone {
      flex-direction: column;
    }
    @include pad {
      flex-direction: row;
    }
  }

  &__container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    @include phone {
      padding: 24px;
      background-color: $background-primiry;
    }
    @include pad {
      padding: 32px;
      background-color: $background-secondary;
    }
    @include desktop {
      padding: 80px 60px;
      background-color: $background-secondary;
    }
  }

  &__list {
    padding: 0;
  }

  &__logo {
    margin-bottom: 16px;
    align-items: center;
    width: 148px;
    height: 44px;
    &-text {
      font-family: $ff-jakarta;
      font-weight: $fw-500;
      font-size: 16px;
      line-height: 32px;
      color: $text-color-primary;
      @include phone {
        margin-bottom: 48px;
      }
    }
  }
  &__right-block {
    @include phone {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    @include pad {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
  }
  &__about {
    width: 144px;
    @include phone {
      margin-bottom: 32px;
    }
    @include pad {
      margin-bottom: 60px;
      margin-right: 60px;
    }
  }
  &__community {
    width: 144px;
    @include phone {
      margin-bottom: 32px;
    }
    @include pad {
      margin-bottom: 60px;
      margin-right: 60px;
    }
  }

  &__socials {
    width: 144px;
    @include phone {
      margin-bottom: 32px;
    }
    @include pad {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-family: $ff-jakarta;
    font-weight: $fw-600;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    margin-bottom: 24px;
  }
  &__item {
    font-family: $ff-jakarta;
    font-weight: $fw-400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color-secondary;
    margin-bottom: 16px;
    &:hover {
      color: $hover-color;
    }
  }
  &__line {
    display: none;
    @include desktop {
      display: block;
      border-bottom: 1px solid $border-color;
    }
  }
  &__bottom {
    align-items: center;
    margin-top: 60px;
    @include phone {
      flex-direction: column-reverse;
    }
    @include pad {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }

    &-text {
      font-family: $ff-jakarta;
      font-weight: $fw-600;
      font-size: 16px;
      line-height: 32px;
      color: $color-black;
      margin-right: 20px;
    }
  }
}
