.footer {
  width: 100vw;
  background-color: $background-secondary;
  &__container {
    padding: 40px;
    max-width: 1440px;
    height: 480px;
    margin: 0 auto;
    background-color: $background-secondary;
  }

  &__list {
    padding: 0;
  }

  &__logo {
    display: flex;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 16px;
    align-items: center;
    width: 148px;
    height: 44px;
    &-text {
      margin-left: 60px;
      font-family: $ff-jakarta;
      font-weight: $fw-500;
      font-size: 16px;
      line-height: 32px;
      color: $text-color-primary;
    }
  }
  &__inner-container {
    display: flex;
    justify-content: space-between;
  }
  &__right-block {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;

    @include phone {
      flex-direction: column;
    }
    @include pad {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
  }
  &__about {
    margin-right: 60px;
  }
  &__community {
    margin-right: 60px;
  }

  &__socials {
    margin-right: 60px;
  }

  &__title {
    font-family: $ff-jakarta;
    font-weight: $fw-600;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    margin-bottom: 24px;
  }
  &__item {
    font-family: $ff-jakarta;
    font-weight: $fw-400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color-secondary;
    margin-bottom: 16px;
    &:hover {
      color: $hover-color;
    }
  }
  &__line {
    display: none;
    @include desktop {
      display: block;
      border-bottom: 1px solid $border-color;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    @include phone {
      flex-direction: column;
    }
    @include pad {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }

    &-right {
      display: flex;
      flex-direction: row;
      margin-right: 40px;
    }

    &-text {
      font-family: $ff-jakarta;
      font-weight: $fw-600;
      font-size: 16px;
      line-height: 32px;
      color: $color-black;
      margin-left: 60px;
    }
  }
}
