.header {
  width: 100vw;
  background-color: $background-secondary;
  border-bottom: 1px solid $border-color;

  &__inner {
    align-items: center;
    padding: 40px;
    max-width: 1440px;
    height: 124px;
    margin: 0 auto;
    background-color: $background-secondary;
  }
  &__logo-search {
    @include phone {
      flex-direction: column;
    }
  }
  &__logo {
    display: flex;
    margin-right: 64px;
    align-items: center;
    width: 108px;
    height: 40px;
    @include phone {
      margin-bottom: 32px;
    }
    @include pad {
      margin-bottom: 0;
    }
  }
  &__search {
    display: flex;
    border: 1px solid $border-color;
    border-radius: 15px;
    transition: all $transition-time;

    @include phone {
      width: 100%;
      margin-bottom: 20px;
    }

    @include desktop {
      width: 422px;
      margin-bottom: 0;
    }

    &:hover {
      border: 1px solid $hover-color;
    }

    &-input {
      border: none;
      width: 100%;
      font-family: $ff-jakarta;
      font-weight: $fw-500;
      color: $text-color-primary;

      &:focus {
        outline: none;
      }
    }
  }
  &__button-search {
    border: none;
    background-color: $background-secondary;
    margin: 10px 20px;
  }
  &__button-filter {
    margin: 10px 20px;
    background-color: #fff;
    border: none;
  }
}

.phone-header {
  display: flex;
  justify-content: space-between;
  background-color: $background-secondary;
  padding: 24px 35px;
  position: relative;

  @include pad {
    display: none;
  }
  &__logo {
    width: 28px;
    height: 28px;
    margin-top: 15px;
  }
}


.container {
  max-width: 1440px;
  height: 100%;
  background-color: $background-primiry;
  margin: 0 auto;
  padding: 0;
}

.icons {
  display: none;
  @include pad {
    display: flex;
  }
  &__item {
    margin: 0 10px;
    width: 44px;
    height: 44px;
    border: 1px solid $border-color;
    border-radius: 50%;

    @include phone {
      display: none;
    }

    @include pad {
      display: flex;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all $transition-time;

    &:hover {
      background-color: $hover-color;
      border-radius: 50%;
    }
  }
  &__image {
    width: 17px;
    height: 17px;
  }
}
