.main {
  height: 100%;
  &__content {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &-section {
    @include  phone {
      flex-direction: column;
    }
    @include pad {
      flex-direction: row;
    }
    &__image {
      &-big {
        margin-bottom: 24px;
        @include phone {
          width: 327px;
        }
        @include pad {
          width: 492px;
        }
      }
      &-small {
        width: 492px;
        height: 124px;
        @include phone {
          width: 327px;
          height: 58px;
          margin-bottom: 32px;
        }
      }
    }

    &__description {
      height: max-content;
      margin-left: 32px;
      padding: 24px;
      background-color: $background-secondary;
      border-radius: 10px;

      @include phone {
        width: 327px;
        margin: 0;
      }

      @include pad {
        margin-left: 32px;
        width: 492px;
      }

      &-text {
        margin-top: 20px;
        font-family: $ff-jakarta;
        font-weight: $fw-400;

        color: $text-color-primary;

        @include phone {
          font-size: 12px;
          line-height: 24px;
        }
        @include pad {
          font-size: 18px;
          line-height: 40px;
        }
      }
      &-car_characteristics {
        margin-top: 25px;
      }
      &-rent {
        margin-top: 60px;
      }
    }
  }
}

.stars {
  @include phone {
    width: 72px;
    height: 14px;
  }

  @include pad {
    width: 108px;
    height: 20px;
  }
}

.rating-reviewer {
  display: inline-block;
  font-family: $ff-jakarta;
  font-weight: $fw-500;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-secondary;
  margin: 0;
  margin-left: 10px;
}

.description-title {
  font-family: $ff-jakarta;
  font-weight: $fw-700;
  color: $color-black;
  @include phone {
    font-size: 20px;
    line-height: 38px;
  }

  @include pad {
    font-size: 32px;
    line-height: 48px;
  }

  &__image {
    width: 20px;
    height: 20px;
    align-items: center;
  }
}

.image-small {
  @include phone {
    width: 96px;
    height: 64px;
  }
  @include pad {
    width: 148px;
    height: 124px;
  }
}

.characteristics {
  &__title {
    font-family: $ff-jakarta;
    font-weight: $fw-400;
    color: $text-color-secondary;

    @include phone {
      font-size: 12px;
      line-height: 24px;
    }

    @include pad {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__type {
    font-family: $ff-jakarta;
    font-weight: $fw-600;
    @include phone {
      font-size: 12px;
      line-height: 24px;
    }

    @include pad {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.discount-cost {
  font-family: $ff-jakarta;
  font-weight: $fw-700;
  color: $color-black;
  @include phone {
    font-size: 20px;
    line-height: 24px;
  }

  @include pad {
    font-size: 28px;
    line-height: 36px;
  }
  &-days {
    font-family: $ff-jakarta;
    font-weight: $fw-700;
    color: $text-color-secondary;

    @include phone {
      font-size: 12px;
      line-height: 15px;
    }
    @include pad {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.full-cost {
  font-family: $ff-jakarta;
  font-weight: $fw-700;
  color: $text-color-secondary;
  text-decoration-line: line-through;

  @include phone {
    font-size: 12px;
    line-height: 15px;
  }
  @include pad {
    font-size: 16px;
    line-height: 20px;
  }
}

.button {
  width: 140px;
  height: 56px;
}

.review {
  margin-top: 32px;
  background-color: $background-secondary;
  width: 1016px;

  @include phone {
    width: 327px;
  }
  @include pad {
    width: 1016px;
  }

  &__content {
    padding: 24px;
    &-title {
      font-family: $ff-jakarta;
      font-weight: $fw-600;
      font-size: 20px;
      line-height: 25px;
      &-count {
        margin-left: 12px;
      }
    }
  }
  &__user {
    margin-top: 32px;
    &-photo {
      @include phone {
        width: 44px;
        height: 44px;
      }
      @include pad {
        width: 56px;
        height: 56px;
      }
    }
    &-name {
      font-family: $ff-jakarta;
      font-weight: $fw-700;
      color: $color-black;
      padding-left: 16px;

      @include phone {
        font-size: 16px;
        line-height: 20px;
      }

      @include pad {
        font-size: 20px;
        line-height: 26px;
      }
    }
    &-position {
      font-family: $ff-jakarta;
      font-weight: $fw-400;
      color: $text-color-secondary;
      padding-left: 16px;

      @include phone {
        font-size: 12px;
        line-height: 15px;
      }

      @include pad {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-date {
      margin: 0;
      font-size: 14px;
      color: $text-color-secondary;
      text-align: end;
    }
    &-message {
      margin-top: 12px;
      padding-left: 70px;
    }
    &-text {
      font-family: $ff-jakarta;
      font-weight: $fw-400;
      font-size: 14px;
      line-height: 28px;
      color: $text-color-primary;

      @include phone {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
}

.arrow-down {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.recent-car {
  margin-top: 42px;
  @include phone {
    width: 327px;
  }
  @include pad {
    width: 1016px;
  }

  &__text-block {
    padding: 20px;
  }
  &__title {
    font-family: $ff-jakarta;
    font-weight: $fw-600;
    font-size: 16px;
    color: $text-color-secondary;
    align-self: center;
  }
  &__btn {
    font-family: $ff-jakarta;
    font-weight: $fw-600;
    font-size: 16px;
    color: $blue-color;
  }
}
