.swipe__container {
  @include phone {
    width: 327px;
  }
  @include pad {
    margin-left: 10px;
    margin-bottom: 32px;
  }
  @include desktop {
    width: 492px;
    margin: 0;
  }
}

.gallery {
  width: 100%;
  margin: 0 auto;

  @include phone {
    width: 327px;
  }
  @include pad {
    width: 492px;
  }

  &-slider {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;

    .swiper-slide {
      width: auto;
      height: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  &-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;

    .swiper-slide {
      width: 100px;
      height: 100px;
      text-align: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.swiper-slide-duplicate-prev {
  @include phone {
    opacity: .6;
  }
  @include desktop {
    opacity: 1;
  }
}

.swiper-slide-next {
  @include phone {
    opacity: .6;
  }
  @include desktop {
    opacity: 1;
  }
}
