//colors

$background-primiry: #f6f7f9;
$background-secondary: #fff;
$border-color: #c3d4e966;
$hover-color: #a0b5ff;
$text-color-primary: #3d5278;
$text-color-secondary: #94a7cb;
$blue-color: #3563e9;
$color-black: #131313;

// fonts
$ff-jakarta: "Plus Jakarta Sans", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//breakpoints

$mobile-media-width: 375px;
$pad-media-width: 768px;
$desktop-media-width: 1440px;

//transition
$transition-time: 0.3s;
